*.aux
*.bbl
*.blg
*.bcf
*.cut
*.fdb_latexmk
*.fls
*.glo
*.gls
*.idx
*.ilg
*.ind
*.log
*.lof
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz*
*.synctex(busy)
*.thm
*.toc
*.vrb
*.xdv
.~*#
*~
/main.pdf
/main-*.pdf
